*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  padding-top: 70px; /* Add padding to account for fixed navbar */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-left {
  display: flex;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-center {
  display: flex;
  align-items: center;s
}

.nav-link {
  color: white;
  margin: 10px
}